<div class="footer text-white text-center pt-5 mt-5">
  Application made by <h3>Himanshu Pathak </h3>
  <div class="col-md-12 d-flex justify-content-center">
  <a href="https://www.linkedin.com/in/himanshu-pathak-997720201/" target="_blank" class="me-3">
    <i class="bi bi-linkedin text-muted fs-4"></i>
  </a>
  <a href="https://github.com/pathakvishal132" target="_blank" class="me-3">
    <i class="bi bi-github text-muted fs-4"></i>
  </a>
  <a href="mailto:pathakvishal132@gmail.com" target="_blank" class="me-3">
    <i class="bi bi-envelope text-muted fs-4"></i>
  </a>
</div>
</div>

