
<nav class="navbar">
  <div class="container">
    <a class="logo" routerLink="/">Voice Analyzer</a>
    <!-- <ul class="nav-menu" *ngIf="!isMenuOpen">
      <li *ngFor="let item of navItems">
        <a *ngIf="!item.children" routerLink="{{ item.routeLink }}">{{ item.displayName }}</a>
        <a *ngIf="item.children" (click)="toggleMenu()">
          {{ item.displayName }}
          <mat-icon>arrow_drop_down</mat-icon>
        </a>
        <ul class="dropdown" *ngIf="item.children && isMenuOpen">
          <li *ngFor="let child of item.children">
            <a routerLink="{{ child.routeLink }}">{{ child.displayName }}</a>
          </li>
        </ul>
      </li>
    </ul>
    <button class="menu-toggle" (click)="toggleMenu()">
      <mat-icon *ngIf="!isMenuOpen">menu</mat-icon>
      <mat-icon *ngIf="isMenuOpen">close</mat-icon>
    </button> -->
  </div>
</nav>
